/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-brown: #bcaaa4;
  --color-dark-brown: #8c7b75;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 22px;
  --font-small: 18px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
}

/* Universal tags */

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
}

.section__container {
  margin: 50px 0;
  width: 1200px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  width: 140px;
  height: 50px;
  font-size: var(--font-regular);
  border: none;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
}

/* typography */
h1 {
  font-size: var(--font-large);
  margin: 10px 0;
}
h2 {
  font-size: var(--font-medium);
  margin: 10px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}
p {
  font-size: var(--font-small);
}

/* Navbar */

#Navbar {
  z-index: 1;
  background: var(--color-brown);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  position: fixed;
  transition: all 300ms ease-in;
}

#Navbar.dark-mode {
  background: var(--color-dark-brown);
  padding: 25px;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo .logo__icon {
  width: 40px;
  height: 40px;
}

.navbar__logo .logo__title {
  color: var(--color-white);
  margin-left: 10px;
  cursor: pointer;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu__item {
  margin: 10px;
  padding: 10px 20px;
  font-size: var(--font-small);
  color: var(--color-white);
  border-radius: 4px;
  cursor: pointer;
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-brown);
  outline: 1px solid var(--color-white);
}

.navbar__menu-btn {
  display: none;
  position: absolute;
  right: 6px;
}
/* Home */

#Home {
  background: no-repeat center/cover url('imgs/home-background.png');
  height: 1000px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.home__description {
  margin-bottom: 30px;
}

.home__btn {
  width: 200px;
  color: var(--color-white);
  font-weight: var(--weight-bold);
  border: 1px solid var(--color-white);
}

.home__btn:hover {
  background: var(--color-orange);
}

/* About */
#About {
  text-align: center;
}

.about__majors {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__majors .major {
  flex-grow: 1;
}

.major__logo-container {
  font-size: 70px;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  color: var(--color-blue);
  margin: 0 auto;
  margin-bottom: 30px;
}

.major__logo {
  transition: all 300ms ease-in;
}

.major__logo-container:hover .major__logo {
  color: var(--color-dark-brown);
  transform: rotate(30deg) scale(1.1);
}

/* Career */

#Careers .section__container {
  margin: 0;
}

.career {
  margin: 20px;
  display: flex;
}

.career__description {
  color: var(--color-light-grey);
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.career__description__date {
  font-size: var(--font-micro);
  margin-top: 10px;
}

/* Skills */

#Skills {
  background: var(--color-yellow);
  text-align: center;
}

.skills-container {
  display: flex;
  color: var(--color-white);
  background: var(--color-grey);
}

. .left__title,
.tools__title,
.etc__title {
  margin: 10px 0px;
}

.skills__left {
  flex-basis: 60%;
  padding: 20px;
  background: var(--color-light-grey);
}

.left__skill {
  margin: 20px 0;
}
.left__skill__description {
  display: flex;
  justify-content: space-between;
}

.left__skill__line {
  margin-top: 7px;
  height: 1px;
  background: var(--color-dark-grey);
}

.left__skill__line__gage {
  height: 1px;
  background: var(--color-orange);
}

.skills__right {
  flex-basis: 40%;
}

.skills__right__tools {
  background: var(--color-dark-grey);
}

.skills__right__tools .tools__list__item {
  margin: 5px 0;
}

.skills__right__tools,
.skills__right__etc {
  padding: 20px;
}

/* Work */

#Work {
  text-align: center;
}

.work__filterBtns {
  margin: 20px 0px;
}

.filterBtn {
  border: 1px solid var(--color-dark-white);
  margin: 0 10px;
  width: 200px;
  position: relative;
}

.filterBtn:hover,
.filterBtn.selected {
  color: var(--color-white);
  background: var(--color-brown);
  text-align: center;
}

.filterBtn__count {
  position: absolute;
  margin: 0 10px;
  display: inline-block;
  color: var(--color-white);
  border-radius: 50%;
  background: var(--color-orange);
  height: 30px;
  width: 30px;
  transform: translateY(-20px);
  transition: all 300ms ease-in;
  opacity: 0;
}

.filterBtn:hover .filterBtn__count,
.filterBtn.selected .filterBtn__count {
  transform: translateY(0px);
  opacity: 100%;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in;
}

.work__projects.scale-in {
  transform: scale(0.9);
  opacity: 10%;
}

.project {
  background: var(--color-light-white);
  margin: 4px;
  position: relative;
}

.project.none {
  display: none;
}

.project__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  color: var(--color-dark-white);
  background: var(--color-black);
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease-in;
}

.project__modal:hover {
  transform: translateY(0px);
  opacity: 80%;
}

.project__modal__title {
  color: var(--color-orange);
  font-size: var(--font-regular);
}

.project__modal__line {
  margin: auto;
  height: 2px;
  width: 30%;
  background: var(--color-white);
}

/* Testimonials */

#Testimonials {
  background: var(--color-light-white);
  text-align: center;
}

.testimonial {
  margin: 35px 0;
}

.testimonial:nth-child(2n) {
  display: flex;
  flex-direction: row-reverse;
}

.testimonial:nth-child(2n + 1) {
  display: flex;
}

.testimonial:nth-child(2n) .testimonial__avatar {
  margin-left: 30px;
}

.testimonial:nth-child(2n + 1) .testimonial__avatar {
  margin-right: 30px;
}

.testimonial__content {
  padding: 30px;
  border-radius: 20px;
  background: var(--color-white);
}

.testimonial__avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.testimonial__content__name {
  color: var(--color-dark-brown);
}

/* Contact */
#Contact {
  text-align: center;
  background: var(--color-brown);
}

.contact__icons {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.contact__icon {
  font-size: 50px;
  margin: 0px 4px;
  cursor: pointer;
}

.contact__icon:hover {
  color: var(--color-yellow);
}
.contact__copyRight {
  display: inline-block;
}

/* etc */
.arrow-btn {
  font-size: 50px;
  position: fixed;
  right: 60px;
  bottom: 100px;
  color: var(--color-white);
  background: var(--color-brown);
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 15px;
}

@media screen and (max-width: 760px) {
  /* Navbar */
  #Navbar {
    flex-direction: column;
  }

  .navbar__menu {
    text-align: center;
    display: none;
  }
  .navbar__menu.active {
    display: block;
  }
  .navbar__menu-btn {
    display: block;
    width: 70px;
  }

  /* About Me */
  .about__majors {
    flex-direction: column;
  }

  /* Skills */
  .skills-container {
    flex-direction: column;
  }

  /* My work */
  .work__filterBtns {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filterBtn {
    width: 100%;
    margin: 5px 0;
  }

  .project {
    flex-grow: 1;
  }

  /* testimonials */
  .testimonial,
  .testimonial:nth-child(2n) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial:nth-child(2n) .testimonial__avatar,
  .testimonial:nth-child(2n + 1) .testimonial__avatar {
    margin: 0;
  }

  .testimonial__content {
    margin: 20px 40px;
  }

  /* etc */
  .arrow-btn {
    right: 30px;
    bottom: 40px;
    font-size: 35px;
  }
}
