/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-brown: #bcaaa4;
  --color-dark-brown: #8c7b75;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 22px;
  --font-small: 18px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
}

/* Universal tags */

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
}

.section__container {
  margin: 50px 0;
  width: 1200px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  width: 140px;
  height: 50px;
  font-size: var(--font-regular);
  border: none;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
}

/* typography */
h1 {
  font-size: var(--font-large);
  margin: 10px 0;
}
h2 {
  font-size: var(--font-medium);
  margin: 10px 0;
}
h3 {
  font-size: var(--font-regular);
}
p {
  font-size: var(--font-small);
}

/* Navbar */

#navbar {
  background: var(--color-brown);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo .logo__icon {
  width: 40px;
  height: 40px;
}

.navbar__logo .logo__title {
  color: var(--color-white);
  margin-left: 10px;
  cursor: pointer;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu__item {
  margin: 10px;
  padding: 10px 20px;
  font-size: var(--font-small);
  color: var(--color-white);
  border-radius: 4px;
  cursor: pointer;
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-brown);
  outline: 1px solid var(--color-white);
}

/* Home */

#home {
  background: no-repeat url('imgs/home-background.png');
  background-size: cover;
  height: 1000px;
  width: 100%;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.home__description {
  margin-bottom: 30px;
}

.home__btn {
  color: var(--color-white);
  font-weight: var(--weight-bold);
  border: 1px solid var(--color-white);
}

.home__btn:hover {
  background: var(--color-orange);
}

/* About */
#about {
  text-align: center;
}

.about__majors {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.major__logo-container {
  font-size: 70px;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  color: var(--color-blue);
  margin: 0 auto;
  margin-bottom: 30px;
}

.major__logo {
  transition: all 300ms ease-in;
}

.major__logo-container:hover .major__logo {
  color: var(--color-dark-brown);
  transform: rotate(30deg) scale(1.1);
}

/* Career */

#careers .section__container {
  margin: 0;
}

.career {
  margin: 20px;
  display: flex;
}

.career__description {
  color: var(--color-light-grey);
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.career__description__date {
  font-size: var(--font-micro);
  margin-top: 10px;
}

/* Skills */

#skills {
  background: var(--color-yellow);
  text-align: center;
}

.skills-container {
  display: flex;
  color: var(--color-white);
  background: var(--color-grey);
}
.left__title,
.tools__title,
.etc__title {
  margin: 10px 0px;
}

.skills__left {
  flex-basis: 60%;
  padding: 20px;
  background: var(--color-light-grey);
}

.left__skill {
  margin: 20px 0;
}
.left__skill__description {
  display: flex;
  justify-content: space-between;
}

.left__skill__line {
  margin-top: 7px;
  height: 1px;
  background: var(--color-dark-grey);
}

.left__skill__line__gage {
  height: 1px;
  background: var(--color-orange);
}

.skills__right {
  flex-basis: 40%;
}

.skills__right__tools {
  background: var(--color-dark-grey);
}

.skills__right__tools .tools__list__item {
  margin: 5px 0;
}

.skills__right__tools,
.skills__right__etc {
  padding: 20px;
}

/* Work */

#work {
  text-align: center;
}

.work__filterBtns {
  margin: 20px 0px;
}

.filterBtn {
  border: 1px solid var(--color-dark-white);
  margin: 0 10px;
  width: 200px;
  position: relative;
}

.filterBtn:hover {
  color: var(--color-white);
  background: var(--color-brown);
  text-align: center;
}

.filterBtn__count {
  position: absolute;
  margin: 0 10px;
  display: inline-block;
  color: var(--color-white);
  border-radius: 50%;
  background: var(--color-orange);
  height: 30px;
  width: 30px;
  transform: translateY(-20px);
  transition: all 300ms ease-in;
  opacity: 0;
}

.filterBtn:hover .filterBtn__count {
  transform: translateY(0px);
  opacity: 100%;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project {
  background: var(--color-light-white);
  margin: 4px;
  position: relative;
}

.project__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  color: var(--color-dark-white);
  background: var(--color-black);
  width: 250px;
  height: 250px;
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease-in;
}

.project__modal:hover {
  transform: translateY(0px);
  opacity: 80%;
}

.project__modal__title {
  color: var(--color-orange);
  font-size: var(--font-regular);
}

.project__modal__line {
  margin: auto;
  height: 2px;
  width: 30%;
  background: var(--color-white);
}
